.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row; /* Changed from column to row */
  align-items: center;
  justify-content: flex-start; /* Changed to start alignment */
  position: relative;
  background-color: #2a2a5946;
  overflow: hidden;
}


.content {
  position: static; /* Changed from absolute */
  margin-left: 40px;
  margin-top: -30px; /* Added margin to create space from the left */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(160, 0, 253, 0.266);
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  height: 644px;
  box-shadow: 0 0 20px rgba(50, 0, 90, 0.455);
}

.profile-image {
  width: 355px;
  height: 360px;
  object-fit: cover;
  border: 4px solid #00f2ff;
  border-radius: 13px;
  margin-bottom: 20px;
  margin-top: -100px;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("assets/fubu.gif");
  filter: brightness(0.5);
  z-index: -1;
  background-size: cover; /* Arka planın tüm ekranı kaplamasını sağlar */
  background-position: center; /* Arka planın merkezlenmesini sağlar */
  background-repeat: no-repeat; /* Arka planın tekrar etmesini engeller */
}
.main-content {
  display: flex;
  gap: 30px;
  margin-left: 50px;
}

.additional-content {
  background: rgba(160, 0, 253, 0.266);
  padding: 20px;
  border-radius: 15px;
  width: 444px;
  height: 220px;
  box-shadow: 0 0 20px rgba(50, 0, 90, 0.455);
  color: #00f2ff;
  margin-top: -375px  
}
